<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122169144-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122169144-1');

  var dimensionValue = 'SOME_DIMENSION_VALUE';
  ga('set', 'dimension1',  '一般ユーザー');
</script>

  <body>
  <header id="header" style="background-color: "#fff";color:#fff"; >
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 >
            <%= link_to 'タスク管理', root_path, id: 'title' %>
          </h3>
        </div>
      </div>
      <ul class="nav nav-pills">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ログイン情報</a>
            <div class="dropdown-menu">
              <%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "ユーザーページ", user_path(current_user), class:"dropdown-item"%>
              <% if current_user.admin? %>
                <div class="dropdown-divider"></div>
                <%= link_to '管理画面', admin_users_path, class:"dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">新規登録 / ログイン</a>
          <div class="dropdown-menu">
            <%= link_to "登録", signup_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログイン", login_path, class:"dropdown-item"%>
          </div>
        </li>
        <% end %>
      </ul>
  </header>
   <main id="main">
    <div class="container">
       <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
  <footer id="footer">  </footer>
  </body>
</html>
